/node_modules
/public/hot
/public/storage
/public/vendor
/public/*.js
/public/*.css
/public/mix-manifest.json
/storage/*.key
/storage/framework
/storage/logs
/storage/app/public
/storage/app/talend_jobs
/storage/app/absenteeism
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
